<div class="wrapper">
    <h2>Products List</h2>
    <div id="product_wrapper">
        <div class="product" *ngFor="let product of products">
            <img src={{product.image_url}} alt="{{product.image_url}}">
            <p>{{product.title}}</p>
            <p>${{product.price}}</p>
            <div class="buttons">
                <button (click)="goToEdit(product._id)">Edit</button>
                <button (click)="deleteProduct(product._id)">Delete</button>
            </div>
        </div>
    </div>
</div>